<h1>ODesk Test Page</h1>

<p class="lead">Instructions</p>

<ul>
	<li>Source JSON Feed: <a href="https://edgarsubmissions.firebaseio.com/.json">https://edgarsubmissions.firebaseio.com/.json</a> </li>
	<li>Highcharts is already in the asset pipeline.</li>
	<li><a href="http://www.highcharts.com/demo/column-basic">Example of column chart</a></li>
	<li>Using JSON data above, create a dynamic column chart showing the number of filings by date.</li>
	<li>X axis: date (field: signatureDate) </li>
	<li>Y axis: number of filings (field: edgarSubmission) </li>
	<li><strong>Comment code with good documentation</strong></li>
</ul>

<!-- Insert chart here in div#container -->
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto">
</div>

<!-- Insert script below -->
<script>	
</script>

